<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple_icons_114x114.png">
{% block dependences %}

{% endblock %}
<title>{% block title %}
主页基模板
{% endblock %}</title>
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/revslider.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="all" />
</head>
<body>

    {% include 'y_main_header.html' %}
    {% block content %}

    {% include 'y_wrapper.html' %}

    {% endblock %}

    {% include 'y_footer.html' %}

    <div class="fixed-menu"></div>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/modules.js"></script>
	<script type="text/javascript" src="/static/js/theme.js"></script>
    <script type="text/javascript" src="/static/js/color_panel.js"></script>
    <script type="text/javascript" src="/static/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function() {
		   "use strict";
		   jQuery('.fullscreen_slider').show().revolution({
				delay: 5000,
				startwidth: 1170,
				startheight: 765,
				fullWidth:"off",
				fullScreen:"on",
				navigationType:"bullet",
				fullScreenOffsetContainer: ".main_header",
				fullScreenOffset: ""
			});
		});
	</script>

    <!-- Portfolio -->
    <script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/js/sorting.js"></script>
    <script>
		items_set = [
			{src : '/static/img/portfolio/370_300/10.jpg', zoom : '/static/img/portfolio/370_300/10.jpg', url : 'portfolio_post_fullwidth.html', columnclass: 'col-sm-4', sortcategory: 'webui', title: 'Unde Sed ut', itemcategory: 'Print Design'},
			{src : '/static/img/portfolio/370_300/11.jpg', zoom : '/static/img/portfolio/370_300/11.jpg', url : 'portfolio_post_fullwidth.html', columnclass: 'col-sm-4', sortcategory: 'polygraphy', title: 'Tempore Nam Libero', itemcategory: 'Business'},
			{src : '/static/img/portfolio/370_300/12.jpg', zoom : '/static/img/portfolio/370_300/12.jpg', url : 'portfolio_post_fullwidth.html', columnclass: 'col-sm-4', sortcategory: 'textstyle', title: 'Dolores Magni', itemcategory: 'People'}
		];
		jQuery('#list').portfolio_addon({
			type : 2, // 2-4 columns portfolio
			load_count : 3,
			items : items_set
		});
	</script>
</body>
</html>>