<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple_icons_114x114.png">
<title>Groutek | Premium Html Template</title>
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
</head>
<body>
	<div class="main_header type1">
        <div class="tagline">
            <div class="container">
                <div class="fright">
                	<div class="tagline_items">
                    	<div class="language_select">
                            <div class="selectBox">
                                <span class="selected"></span>
                                <span class="selectArrow"></span>
                                <div class="selectOptions" >
                                    <span class="selectOption" data-value="english"><img src="img/imgs/uk_flag.png" alt="" />English</span>
                                    <span class="selectOption" data-value="germany"><img src="img/imgs/germany_flag.png" alt="" />Germany</span>
                                </div>
                            </div>
                        </div>
                        <div class="log_in_out"><a href="javascript:void(0);" data-toggle="modal" data-target=".login_popup"><i class="icon-sign-in"></i> Login</a></div>
                        <div class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <h3>Please, Log in</h3>
                                    <form action="javascript:void(0);" method="post">
                                        <input type="text" placeholder="Username*" value="" name="name">
                                        <input type="password" placeholder="Password*" value="" name="password">
                                        <input type="submit" value="Log In"> 
                                        <div class="remember_me"><label><input name="remember" type="checkbox" value="remember">Remember Me</label></div>
                                    </form>
                                    <div class="forgot_password"><a href="javascript:void(0);">Forgot Your Password?</a></div>
                                    <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="cart_btn">
                        	<a href="shop_cart.html" class="view_cart_btn"><i class="icon-shopping-cart"></i> Cart</a>
                            <!-- Cart submenu -->
                            <div class="cart_submenu">
                            	<div class="cart_wrap">
                                	<a href="javascript:void(0);" class="remove_products"><i class="icon-times-circle"></i></a>
                                	<ul class="product_posts">                                    
                                        <li>
                                            <img src="img/shop/1.jpg" alt="" />
                                            <a href="shop_product.html" class="title">Nemo Enim Ipsam</a>
                                            <div class="price">1<span>x</span>$500.00</div>
                                        </li>
                                    </ul>
                                    <div class="subtotal">Subtotal: <span>$500.00</span></div>
                                    <a href="shop_cart.html" class=" shortcode_button btn_small btn_type5 mr15">View cart</a>
                                    <a href="javascript:void(0);" class=" shortcode_button btn_small btn_type1 mr0">Checkout</a>
                                </div>
                            </div>
                            <!-- //Cart submenu -->
                        </div>
                    </div>
                    <div class="top_search" id="top_search">
                        <form action="#" method="get" name="search_form">
                            <input type="text" class="ct-search-input" value="" name="s" placeholder="Search...">
                            <input type="submit" value="Search" class="s_submit">
                            <span class="top-icon-search">
                            	<i class="icon-search"></i>
                            </span>                                
                        </form>                            
                    </div>                   
                </div>
                <div class="fleft">
                    <div class="phone"><i class="icon-phone"></i> +1 800 245 39 25</div>
                    <div class="email"><a href="mailto:#"><i class="icon-envelope"></i> info@yourdomain.com</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header_parent_wrap">
            <header>
                <div class="container">
                	<a class="top_menu_toggler" href="javascript:void(0)"></a>
                	<div class="logo_sect">
                        <a href="index.html" class="logo"><img src="img/logo.png" class="logo_def" alt="" /><img src="img/retina/logo.png" class="logo_retina" alt="" /></a>                
                    </div> 
                    <nav>
                        <ul class="menu">
                            <li class="menu-item-has-children"><a href="#">Home</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home Type1</a></li>
                                        <li><a href="home_type2.html">Home Type2</a></li>
                                        <li><a href="home_type3.html">Home Type3</a></li> 
                                        <li><a href="home_type4.html">Home Type4</a></li>                     
                                    </ul> 
                                </div>	
                            </li>
                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="#">About</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="about.html">About 1</a></li>
                                                    <li><a href="about2.html">About 2</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="service.html">Service</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="careers.html">Careers</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="showreel.html">Showreel</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="sitemap.html">Sitemap</a></li>
                                        <li><a href="coming_soon.html">Coming Soon</a></li>                                                                      
                                    </ul> 
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Features</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="typography.html">Typography</a></li>  
                                        <li><a href="shortcodes.html">Shortcodes</a></li>
                                    </ul> 
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Works</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="portfolio_1col.html">1 Column</a></li>
                                        <li><a href="portfolio_2col.html">2 Columns</a></li>
                                        <li><a href="portfolio_3col.html">3 Columns</a></li>
                                        <li><a href="portfolio_3col_masonry.html">3 Columns Masonry</a></li>
                                        <li><a href="portfolio_wide.html">Wide</a></li>
                                        <li class="menu-item-has-children"><a href="#">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio_post_fullwidth.html">Fullwidth Image</a></li>
                                                    <li><a href="portfolio_post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="portfolio_post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>                              
                                    </ul> 
                                </div>
                            </li>
                            <li class="current-menu-parent menu-item-has-children"><a href="#">Blog</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="blog_fullwidth.html">Fullwidth Blog</a></li>
                                        <li><a href="blog_right_sidebar.html">With Right Sidebar</a></li>
                                        <li><a href="blog_left_sidebar.html">With Left Sidebar</a></li>
                                        <li class="current-menu-parent menu-item-has-children"><a href="#">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li class="current-menu-item"><a href="post_fullwidth.html">Fullwidth Image</a></li>
                                                    <li><a href="post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>                             
                                    </ul> 
                                </div>                        
                            </li>
                            <li class="menu-item-has-children"><a href="#">Shop</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">All Products</a></li>
                                        <li><a href="shop_product.html">Single Product</a></li>
                                        <li><a href="shop_cart.html">Cart</a></li>                                                                    
                                    </ul> 
                                </div>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Contact</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="contact_fullwidth.html">Fullwidth</a></li>
                                        <li><a href="contact_sidebar.html">With Sidebar</a></li>                                                 
                                    </ul> 
                                </div>
                            </li>
                        </ul>                                  
                    </nav>                   
                    <div class="clear"></div>
                </div>
            </header>
        </div>
    </div>
    
    <div class="wrapper">
    	<div class="container">        	
        	<div class="content_block row no-sidebar single_post">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea"> 
                        	<div class="blog_post_preview animate" data-anim-type="fadeInUp" data-anim-delay="300">
                            	<h1>Big Headline for Blog Post</h1>   
                                <div class="listing_meta">
                                    <span>Dec 11, 2020</span>
                                    <span>by <a href="javascript:void(0);">Admin</a></span>
                                    <span><a href="javascript:void(0);">3 comments</a></span>                                                									
                                    <span>Tags: <a href="javascript:void(0);">business</a>, <a href="javascript:void(0);">people</a></span>
                                </div>
                                <div class="blog_post_image">
                                    <img src="img/blog/post/1.jpg" alt="" />
                                </div>
                                <div class="blog_content module_content">
                                    <p>Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo. Vestibulum consectetur euismod malesuada tincidunt cum. Sed ullamcorper dignissim consectetur ut tincidunt eros sed sapien consectetur dictum. Pellentesques sed volutpat ante, cursus port. Praesent mi magna, penatibus et magniseget dis parturient montes sed quia consequuntur magni dolores eos qui ratione. Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo.</p>  
                                    <blockquote>
                                        <p>Provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga einem like temporalis eos qui ratione. 
Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis. At vero eos et samus et iusto odio qui blanditiis praesentium voluptatum deleniti atque corrupti quos jfont dolores et autem quibusdam et aut officis perferendis doloribus eos qui ratione voluptatem.</p>
                                        <div class="author">Robin Hardy, Developer</div>
                                    </blockquote>                
                                    <p>Donec et eleifend velit. Sed eget urna odio. <a href="javascript:void(0);">Quisque pulvinar</a> dolor purus, sed dignissim ante imperdiet ac. Sed vulputate lectus at enim aliquet suscipit. Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris. Aliquam neque lectus, condimentum quis fringilla. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>  
                                    <ol class="mb6">
                                        <li>Donec et eleifend velit. Sed eget urna odio. </li>
                                        <li>Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac. </li>
                                        <li>Sed vulputate lectus at enim aliquet suscipit. </li>
                                        <li>Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris.</li>
                                    </ol>      
                                </div>
                            </div>
                            
                            <div class="row control_post_links">
                                <div class="col-sm-6 animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                    <div class="shortcode_icons_wrapper">
                                        <a title="Facebook" href="javascript:void(0);"><span><i class="icon-facebook"></i></span></a>
                                        <a title="Twitter" href="javascript:void(0);"><span><i class="icon-twitter"></i></span></a>
                                        <a title="Google+" href="javascript:void(0);"><span><i class="icon-google-plus"></i></span></a>
                                        <a title="Pinterest" href="javascript:void(0);"><span><i class="icon-pinterest"></i></span></a>
                                    </div>	
                                </div>
                                <div class="col-sm-6 text-right animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                    <div class="prev_next_links">
                                        <a href="javascript:void(0);"><i class="icon-angle-left"></i>Prev</a>
                                        <span>/</span>
                                        <a href="javascript:void(0);">Next<i class="icon-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col-sm-12 module_cont pb33 module_feature_posts">
                                	<h3 class="mb27">Related Posts</h3>
                                    <div class="featured_items">
                                        <div class="items4 featured_posts">
                                            <ul class="item_list">                                                
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                                    <div class="item">
                                                        <div class="item_wrapper">                                  
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="img/blog/feature/1.jpg" />
                                                                <span class="block_fade"></span>
                                                                <div class="post_hover_info">
                                                                	<a class="featured_ico_link view_link" href="javascript:void(0);"><i class="icon-link"></i></a>
                                                                </div>                                                               
                                                            </div>                                                   
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5><a href="post_fullwidth.html">Ullamcorper Parturien</a></h5>
                                                                </div>
                                                                <div class="featured_item_content">Morbi leo risus, porta ac consectur at eros. Maecenas sed diam eget risus varius blandit sit amet non.</div>
                                                                <div class="featured_meta">
                                                                    <div class="date">
                                                                    	<i class="icon-calendar"></i>28 October, 2020
                                                                    </div>
                                                                    <div class="comments">
                                                                    	<a href="javascript:void(0);">
                                                                        	<i class="icon-comments"></i>15
                                                                        </a>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="400">
                                                    <div class="item">
                                                        <div class="item_wrapper">                                  
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="img/blog/feature/2.jpg" />
                                                                <span class="block_fade"></span>
                                                                <div class="post_hover_info">
                                                                	<a class="featured_ico_link view_link" href="javascript:void(0);"><i class="icon-link"></i></a>
                                                                </div>                                                                 
                                                            </div>                                                   
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5><a href="post_fullwidth.html">Excepteur Sint Occaecat</a></h5>
                                                                </div>
                                                                <div class="featured_item_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab.</div>
                                                                <div class="featured_meta">
                                                                    <div class="date">
                                                                    	<i class="icon-calendar"></i>27 October, 2020
                                                                    </div>
                                                                    <div class="comments">
                                                                    	<a href="javascript:void(0);">
                                                                        	<i class="icon-comments"></i>11
                                                                        </a>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="500">
                                                    <div class="item">
                                                        <div class="item_wrapper">                                  
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="img/blog/feature/3.jpg" />
                                                                <span class="block_fade"></span>
                                                                <div class="post_hover_info">
                                                                	<a class="featured_ico_link view_link" href="javascript:void(0);"><i class="icon-link"></i></a>
                                                                </div>                                                                  
                                                            </div>                                                   
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5><a href="post_fullwidth.html">Neque Porro Quisquam</a></h5>
                                                                </div>
                                                                <div class="featured_item_content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudanti.</div>
                                                                <div class="featured_meta">
                                                                    <div class="date">
                                                                    	<i class="icon-calendar"></i>26 October, 2020
                                                                    </div>
                                                                    <div class="comments">
                                                                    	<a href="javascript:void(0);">
                                                                        	<i class="icon-comments"></i>10
                                                                        </a>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="600">
                                                    <div class="item">
                                                        <div class="item_wrapper">                                  
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="img/blog/feature/4.jpg" />
                                                                <span class="block_fade"></span>
                                                                <div class="post_hover_info">
                                                                	<a class="featured_ico_link view_link" href="javascript:void(0);"><i class="icon-link"></i></a>
                                                                </div>                                                                  
                                                            </div>                                                   
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5><a href="post_fullwidth.html">Quis Autem Vel Eum</a></h5>
                                                                </div>
                                                                <div class="featured_item_content">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consetur.</div>
                                                                <div class="featured_meta">
                                                                    <div class="date">
                                                                    	<i class="icon-calendar"></i>25 October, 2020
                                                                    </div>
                                                                    <div class="comments">
                                                                    	<a href="javascript:void(0);">
                                                                        	<i class="icon-comments"></i>15
                                                                        </a>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </li>                                      
                                            </ul>
                                        </div>
                                    </div>                                                         
                                </div>
                             </div>
                                                        
                             <div id="comments">
                                <h3 class="animate" data-anim-type="fadeInUp" data-anim-delay="350">3 Comments:</h3>
                                <ol class="commentlist animate" data-anim-type="fadeInUp" data-anim-delay="350">
                                    <li class="comment">
                                        <div class="stand_comment">
                                            <div class="thiscommentbody">
                                            	<div class="commentava wrapped_img">
                                                    <img class="avatar" src="img/imgs/testimonial6.jpg" alt="" />
                                                </div>
                                                <div class="comment_info">
                                                    <div class="comment_author_name"><a href="javascript:void(0);">Amanda Smith</a></div>
                                                    <p>Amaizing! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                                    <div class="comment_meta">
                                                        <span class="date">Dec 3, 2020</span>
                                                        <span class="comments"><a href="javascript:void(0);" class="comment-reply-link"><i class="icon-reply"></i>Reply</a></span>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <ul>
                                        	<li class="comment">
                                                <div class="stand_comment">
                                                    <div class="thiscommentbody">
                                                        <div class="commentava wrapped_img">
                                                            <img class="avatar" src="img/imgs/testimonial3.jpg" alt="" />
                                                        </div>
                                                        <div class="comment_info">
                                                            <div class="comment_author_name"><a href="javascript:void(0);">Mark Wilson</a></div>
                                                            <p>Thanks! We’ve worked hard.</p>
                                                            <div class="comment_meta">
                                                                <span class="date">Dec 3, 2020</span>
                                                                <span class="comments"><a href="javascript:void(0);" class="comment-reply-link"><i class="icon-reply"></i>Reply</a></span>
                                                            </div>
                                                        </div>                                                
                                                    </div>
                                                </div> 
                                            </li>
                                        </ul> 
                                    </li>
                                    <li class="comment">
                                        <div class="stand_comment">
                                            <div class="thiscommentbody">
                                                <div class="commentava wrapped_img">
                                                    <img class="avatar" src="img/imgs/testimonial5.jpg" alt="" />
                                                </div>
                                                <div class="comment_info">
                                                    <div class="comment_author_name"><a href="javascript:void(0);">Robert Burn</a></div>
                                                    <p>Great! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                                    <div class="comment_meta">
                                                        <span class="date">Dec 3, 2020</span>
                                                        <span class="comments"><a href="javascript:void(0);" class="comment-reply-link"><i class="icon-reply"></i>Reply</a></span>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </li>                                        
                                </ol>                                
                                
                                <div id="respond" class="animate" data-anim-type="fadeInUp" data-anim-delay="400">
                                    <h3 class="mb22">Leave a Reply!</h3>
                                    <p class="mb23">Your email address will not be published. Required fields are marked *</p>
                                    <form class="comment-form" id="commentform" method="post" action="javascript:void(0);">
                                    	<div class="row row20">
                                        	<div class="col-sm-4"><input type="text" name="author" value="" placeholder="Name*"></div>
                                            <div class="col-sm-4"><input type="text" name="email" value="" placeholder="Email*"></div>
                                            <div class="col-sm-4"><input type="text" name="url" value="" placeholder="Subject*"></div>
                                        </div>                                        
                                        <textarea rows="5" cols="45" name="comment" placeholder="Write Your Message Here..."></textarea>
                                        <input type="submit" value="Send Message" id="submit" name="submit">
                                    </form>
                                </div><!-- #respond -->
                            </div>  
                            
                            <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://wordpress.com/" target="_blank"><img src="img/imgs/wp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.envato.com/" target="_blank"><img src="img/imgs/envato.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="350">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://mailchimp.com/" target="_blank"><img src="img/imgs/mailchimp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="400">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.pixeden.com/" target="_blank"><img src="img/imgs/pixeden.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="450">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://themeforest.net/" target="_blank"><img src="img/imgs/themeforest.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="500">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.gt3themes.com/" target="_blank"><img src="img/imgs/gt3themes.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>                                                       
                                                        	
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="footer">
    	<div class="container">
        	<div class="pre_footer">
            	<div class="row">
                	<div class="col-sm-3">
                    	<div class="sidepanel widget_text">
                        	<h4 class="title">Contact Us</h4>
                        	<p>Maecenas etos sit amet, consectetur adipiscing elit. Terminal volutpat rutrum metro amet sollicitudin interdum.</p>
                            <p><span>Phone:</span> +1 (800) 456 37 96</p>
                            <p><span>Office:</span> 5826 Baker Street, New York</p>
                            <p><span>Email:</span> <a href="mailto:#">info@groutek.com</a></p>
                            <div class="footer_socials">
                            	<ul>
                                	<li><a href="javascript:void(0);" class="soc_fb"><i class="icon-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);" class="soc_tweet"><i class="icon-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);" class="soc_google"><i class="icon-google-plus"></i></a></li>
                                    <li><a href="javascript:void(0);" class="soc_dribbble"><i class="icon-dribbble"></i></a></li>
                                    <li><a href="javascript:void(0);" class="soc_pinterest"><i class="icon-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>	
                    </div>
                    <div class="col-sm-3">
                    	<div class="sidepanel widget_posts">
                        	<h4 class="title">Recent Posts</h4>
                            <ul class="recent_posts">                                    
                                <li class="with_img">
                                    <div class="recent_posts_content">
                                    	<img src="img/imgs/widget_post1.jpg" alt="" />
                                        <a href="javascript:void(0);" class="title">Business Cards Design Trends</a>
                                        <div class="recent_posts_info">Dec 02, 2020  /  <a href="javascript:void(0);">2 comments</a></div>
                                    </div>                                    
                                </li>                                
                                <li class="with_img">
                                    <div class="recent_posts_content">
                                    	<img src="img/imgs/widget_post2.jpg" alt="" />
                                        <a href="javascript:void(0);" class="title">This Maravelous App</a>
                                        <div class="recent_posts_info">Nov 18, 2020  /  <a href="javascript:void(0);">9 comments</a></div>
                                    </div>                                    
                                </li>
                                <li class="with_img">
                                    <div class="recent_posts_content">
                                    	<img src="img/imgs/widget_post3.jpg" alt="" />
                                        <a href="javascript:void(0);" class="title">Brand Paper Niceties</a>
                                        <div class="recent_posts_info">Nov 10, 2020  /  <a href="javascript:void(0);">0 comments</a></div>
                                    </div>                                    
                                </li>                            
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    	<div class="sidepanel widget_twitter">
                        	<h4 class="title">Latest Twitts</h4>
                            <div class="tweet_module"></div>                          
                        </div>
                    </div>
                    <div class="col-sm-3">
                    	<div class="sidepanel widget_review">
                        	<h4 class="title">Last Review</h4>
                            <div class="last_review">
                            	<p class="review_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="clear"></div>
                                <div class="last_review_author">
                                	<h5>Richard Clark</h5>
                                    <h6>Creative Designer</h6>
                                    <img src="img/imgs/review_author.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
            	<div class="copyright">Copyright 2020. All Rights Reserved by Groutek, Premium HTML Template.</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>   
    
    <div class="fixed-menu"></div>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>	   
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/modules.js"></script>	
	<script type="text/javascript" src="js/theme.js"></script>  
	<script type="text/javascript" src="js/color_panel.js"></script>	
</body>
</html>