    <div class="footer">
    	<div class="container">
        	<div class="pre_footer">
            	<div class="row">
                	<div class="col-sm-3">
                    	<div class="sidepanel widget_text">
                        	<h4 class="title">Contact Us</h4>
                        	<p>Maecenas etos sit amet, consectetur adipiscing elit. Terminal volutpat rutrum metro amet sollicitudin interdum.</p>
                            <p><span>Phone:</span> +1 (800) 456 37 96</p>
                            <p><span>Office:</span> 5826 Baker Street, New York</p>
                            <p><span>Email:</span> <a href="mailto:#">info@groutek.com</a></p>
                            <div class="footer_socials">
                            	<ul>
                                	<li><a href="javascript:void(0);" class="soc_fb"><i class="icon-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);" class="soc_tweet"><i class="icon-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);" class="soc_google"><i class="icon-google-plus"></i></a></li>
                                    <li><a href="javascript:void(0);" class="soc_dribbble"><i class="icon-dribbble"></i></a></li>
                                    <li><a href="javascript:void(0);" class="soc_pinterest"><i class="icon-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    	<div class="sidepanel widget_posts">
                        	<h4 class="title">Recent Posts</h4>
                            <ul class="recent_posts">
                                <li class="with_img">
                                    <div class="recent_posts_content">
                                    	<img src="/static/img/imgs/widget_post1.jpg" alt="" />
                                        <a href="javascript:void(0);" class="title">Business Cards Design Trends</a>
                                        <div class="recent_posts_info">Dec 02, 2020  /  <a href="javascript:void(0);">2 comments</a></div>
                                    </div>
                                </li>
                                <li class="with_img">
                                    <div class="recent_posts_content">
                                    	<img src="/static/img/imgs/widget_post2.jpg" alt="" />
                                        <a href="javascript:void(0);" class="title">This Maravelous App</a>
                                        <div class="recent_posts_info">Nov 18, 2020  /  <a href="javascript:void(0);">9 comments</a></div>
                                    </div>
                                </li>
                                <li class="with_img">
                                    <div class="recent_posts_content">
                                    	<img src="/static/img/imgs/widget_post3.jpg" alt="" />
                                        <a href="javascript:void(0);" class="title">Brand Paper Niceties</a>
                                        <div class="recent_posts_info">Nov 10, 2020  /  <a href="javascript:void(0);">0 comments</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    	<div class="sidepanel widget_twitter">
                        	<h4 class="title">Latest Twitts</h4>
                            <div class="tweet_module"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    	<div class="sidepanel widget_review">
                        	<h4 class="title">Last Review</h4>
                            <div class="last_review">
                            	<p class="review_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="clear"></div>
                                <div class="last_review_author">
                                	<h5>Richard Clark</h5>
                                    <h6>Creative Designer</h6>
                                    <img src="/static/img/imgs/review_author.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
            	<div class="copyright">Copyright 2020. All Rights Reserved by Groutek, Premium HTML Template.</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
