	<div class="main_header type1">
        <div class="tagline">
            <div class="container">
                <div class="fright">
{#                    国旗跟登陆界面#}
                	<div class="tagline_items">
                    	<div class="language_select">
                            <div class="selectBox">
                                <span class="selected"></span>
                                <span class="selectArrow"></span>
                                <div class="selectOptions" >
                                    <span class="selectOption" data-value="english"><img src="/static/img/imgs/uk_flag.png" alt="" />English</span>
                                    <span class="selectOption" data-value="germany"><img src="/static/img/imgs/germany_flag.png" alt="" />Germany</span>
                                </div>
                            </div>
                        </div>

                        <div class="signup_select">
                            <div class="selectBox">
                                <span class="selected"><strong>注  册</strong></span>
                                <span class="selectArrow"></span>
                                <div class="selectOptions" >
                                    <a href="/signup"><span class="selectOption"><img src="/static/img/imgs/uk_flag.png" alt="" />学生注册</span></a>
                                    <a href="/signup"><span class="selectOption"><img src="/static/img/imgs/germany_flag.png" alt="" />企业注册</span></a>
                                </div>
                            </div>
                        </div>


                        <div class="log_in_out"><a href="javascript:void(0);" data-toggle="modal" data-target=".login_popup"><i class="icon-sign-in"></i> Login</a></div>

{#                        点击后登陆的表#}
                        <div class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <h3>Please, Log in</h3>
                                    <form action="javascript:void(0);" method="post">
                                        <input type="text" placeholder="Username*" value="" name="name">
                                        <input type="password" placeholder="Password*" value="" name="password">
                                        <input type="submit" value="Log In">
                                        <div class="remember_me"><label><input name="remember" type="checkbox" value="remember">Remember Me</label></div>
                                    </form>
                                    <div class="forgot_password"><a href="javascript:void(0);">Forgot Your Password?</a></div>
                                    <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
                                </div>
                            </div>
                        </div>





                    </div>
{#                    搜索#}
                    <div class="top_search" id="top_search">
                        <form action="#" method="get" name="search_form">
                            <input type="text" class="ct-search-input" value="" name="s" placeholder="Search...">
                            <input type="submit" value="Search" class="s_submit">
                            <span class="top-icon-search">
                            	<i class="icon-search"></i>
                            </span>
                        </form>
                    </div>
                </div>
                <div class="fleft">
                    <div class="phone"><i class="icon-phone"></i> +1 599 269 65 32</div>
                    <div class="email"><a href="mailto:#"><i class="icon-envelope"></i> yan123@co-german.com</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header_parent_wrap">
            <header>
                <div class="container">
                	<a class="top_menu_toggler" href="javascript:void(0)"></a>
                	<div class="logo_sect">
                        <a href="index.html" class="logo"><img src="/static/img/logo.png" class="logo_def" alt="" /><img src="/static/img/retina/logo.png" class="logo_retina" alt="" /></a>
                    </div>
                    <nav>
                        <ul class="menu">
                            <li class="current-menu-parent menu-item-has-children"><a href="/home">主页</a></li>

                             <li class="menu-item-has-children"><a href="/news">新闻中心</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="/news">Fullwidth</a></li>
                                        <li><a href="/news">With Sidebar</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="menu-item-has-children"><a href="/foreign_plan">中外合作项目</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children"><a href="#">中美合作项目</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="/foreign_plan">密苏里大学人工智能</a></li>
                                                    <li><a href="/foreign_plan">密苏里大学全栈工程师计划</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">中德合作项目</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="/foreign_plan">BBW技师</a></li>
                                                    <li><a href="/foreign_plan">BBW惺惺惜惺惺</a></li>
                                                </ul>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            <li class="menu-item-has-children"><a href="/improvment">培训班</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="/improvment">长园班</a></li>
                                        <li><a href="/improvment">银隆班</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="menu-item-has-children"><a href="/enterprise">校企通</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="/enterprise">1 Column</a></li>
                                        <li><a href="/enterprise">2 Columns</a></li>
                                        <li><a href="portfolio_3col.html">3 Columns</a></li>
                                        <li><a href="portfolio_3col_masonry.html">3 Columns Masonry</a></li>
                                        <li><a href="portfolio_wide.html">Wide</a></li>
                                        <li class="menu-item-has-children"><a href="#">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="portfolio_post_fullwidth.html">Fullwidth Image</a></li>
                                                    <li><a href="portfolio_post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="portfolio_post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="menu-item-has-children"><a href="/recruitment">招聘广场</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="recruitment">Fullwidth Blog</a></li>
                                        <li><a href="recruitment">With Right Sidebar</a></li>
                                        <li><a href="recruitment">With Left Sidebar</a></li>
                                        <li class="menu-item-has-children"><a href="#">Single Post</a>
                                            <div class="sub-nav">
                                                <ul class="sub-menu">
                                                    <li><a href="post_fullwidth.html">Fullwidth Image</a></li>
                                                    <li><a href="post_right_sidebar.html">With Right Sidebar</a></li>
                                                    <li><a href="post_left_sidebar.html">With Left Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
            </header>
        </div>
    </div>
