<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple_icons_114x114.png">
<title>{% block title %}Groutek | Premium Html Template{% endblock %}</title>
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="all" />
</head>
<body>
    {% include 'y_main_header.html' %}
{#    培训班名字#}
    <div class="breadcrumbs">
    	<div class="container">
        	<a href="index.html">Home</a><span>/</span><a href="javascript:void(0);">培训班</a><span>/</span>{% block peiXunName %}Careers{% endblock %}
            <h1 class="title-page">We’re Hiring</h1>
        </div>
    </div>
    
    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row no-sidebar">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">                                                         
                            
                            <div class="row">
                                <div class="col-sm-12 module_cont module_team pb60">
                                    <div class="team_slider">
                                        <div class="carouselslider teamslider items2">			
                                            <ul class="item_list">
                                                <li class="animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                        	<div class="row">
                                                            	<div class="col-sm-6">
                                                                	<div class="img_block">
                                                                    	<img src="img/imgs/team-empty.jpg" alt="" />                                                                    
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                	<div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Junior Designer</h6>
                                                                            <div class="op">Permanent</div>
                                                                        </div>
                                                                        <div class="team_desc mb16">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. Nunc faucibus facilisis pellen tesque facilisis. Sed hendrerit enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt. </div>
                                                                        <a class=" shortcode_button btn_small btn_type5" href="javascript:void(0);">Send Resume</a>
                                                                    </div>
                                                                </div>                                                            
                                                            </div>                                                            								
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                        	<div class="row">
                                                            	<div class="col-sm-6">
                                                                	<div class="img_block">
                                                                    	<img src="img/imgs/team-empty.jpg" alt="" />                                                                    
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                	<div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Front-End Developer</h6>
                                                                            <div class="op">Permanent</div>
                                                                        </div>
                                                                        <div class="team_desc mb16">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. Nunc faucibus facilisis pellen tesque facilisis. Sed hendrerit enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt. </div>
                                                                        <a class=" shortcode_button btn_small btn_type5" href="javascript:void(0);">Send Resume</a>
                                                                    </div>
                                                                </div>                                                           
                                                            </div>                                                            								
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>                                    
                                </div>                                   
                            </div>
                            
                            <div class="row">
                             	<div class="col-sm-12 module_cont pb0">
                                	<div class="bg_title">
                                    	<h2>Why to Choose Groutek</h2>
                                    </div>                                   
                                </div>
                             </div>
                            
                            <div class="row skills_start">
                            	<div class="col-sm-8 module_cont module_tabs animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                    <div class="shortcode_tabs type1">
                                        <div class="all_head_sizer"><div class="all_heads_cont"></div><div class="clear"></div></div>
                                        <div class="all_body_sizer"><div class="all_body_cont"></div></div>
                                        <div class="shortcode_tab_item_title expand_yes">Strategy</div>
                                        <div class="shortcode_tab_item_body tab-content clearfix">
                                            <div class="ip">
                                                <div class="tab_content">
                                                	<div class="item_tab">
                                                    	<img src="img/imgs/tab1.jpg" alt=""/>
                                                        <h3><a href="javascript:void(0);">Lorem Ipsum Dolor Sit Amet</a></h3>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia volupt.</p>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="item_tab">
                                                    	<img src="img/imgs/tab2.jpg" alt=""/>
                                                        <h3><a href="javascript:void(0);">Sed Ut Perspiciatis Unde Omnis</a></h3>
                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                                        <div class="clear"></div>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shortcode_tab_item_title expand_no">Design</div>
                                        <div class="shortcode_tab_item_body tab-content clearfix">
                                            <div class="ip">
                                                <div class="tab_content"> 	
                                                    <div class="item_tab">
                                                    	<img src="img/imgs/tab2.jpg" alt=""/>
                                                        <h3><a href="javascript:void(0);">Sed Ut Perspiciatis Unde Omnis</a></h3>
                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                                        <div class="clear"></div>
                                                    </div>  
                                                    <div class="item_tab">
                                                    	<img src="img/imgs/tab1.jpg" alt=""/>
                                                        <h3><a href="javascript:void(0);">Lorem Ipsum Dolor Sit Amet</a></h3>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia volupt.</p>
                                                        <div class="clear"></div>
                                                    </div>                                                 
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="shortcode_tab_item_title expand_no">Technology</div>
                                        <div class="shortcode_tab_item_body tab-content clearfix">
                                            <div class="ip">
                                            	<div class="tab_content">
                                                	<div class="item_tab">
                                                    	<h3><a href="javascript:void(0);">Lorem Ipsum Dolor Sit Amet</a></h3>
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia volupt.</p>
                                                    </div>
                                                    <div class="item_tab last">
                                                    	<h3><a href="javascript:void(0);">Sed Ut Perspiciatis Unde Omnis</a></h3>
                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                                    </div>                                                    
                                                </div>                                                    
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
								<div class="col-sm-4 module_cont pb65 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                	<h3 class="mt_5 mb22">Our Experience</h3>
                                    <p class="mb22">At vero eos et accusamus et iusto odio dignissimos ducimu qui blanditiis praesentium voluptatum deleniti atque corrupt quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et doloru tempore na.</p>
                                    <div class="shortcode_skills">
                                        <ul class="skills_list">
                                            <li class="skill_li">                              
                                                <div class="diagram_bar">                          
                                                    <h6>Graphic Design</h6>
                                                    <div class="skill_div-wrapper"><div class="skill_div" data-percent="95"></div></div>
                                                </div>
                                                <div class="skill_percent"><h6>95%</h6></div>
                                            </li>
                                            <li class="skill_li">                              
                                                <div class="diagram_bar">                          
                                                    <h6>Identity</h6>
                                                    <div class="skill_div-wrapper"><div class="skill_div" data-percent="93"></div></div>
                                                </div>
                                                <div class="skill_percent"><h6>93%</h6></div>
                                            </li>
                                            <li class="skill_li">                              
                                                <div class="diagram_bar">                          
                                                    <h6>Web Development</h6>
                                                    <div class="skill_div-wrapper"><div class="skill_div" data-percent="85"></div></div>
                                                </div>
                                                <div class="skill_percent"><h6>85%</h6></div>
                                            </li>
                                            <li class="skill_li">                              
                                                <div class="diagram_bar">                          
                                                    <h6>Research</h6>
                                                    <div class="skill_div-wrapper"><div class="skill_div" data-percent="87"></div></div>
                                                </div>
                                                <div class="skill_percent"><h6>87%</h6></div>
                                            </li>                                                                                                 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="row">
                             	<div class="col-sm-12 module_cont pb0 mb_6">
                                	<div class="bg_title">
                                    	<h2>Current Openings</h2>
                                    </div>                                   
                                </div>
                             </div>
                            
                            <div class="row shortcode_tabs module_table_info mt_5">	
								<div class="col-sm-3 col-sm-push-9 module_cont animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                	<!-- FILTER -->
                                    <ul class="jobs_filters">
                                        <li class="jobs_filters_type">
                                            <span data-select="jobs_filters_type" class="fakeselect">Type</span>
                                            <ul data-select="jobs_filters_type" class="fakeoptions" id="filter_job_type">
                                                <li data-type="Permanent">Permanent</li>
                                                <li data-type="Internship">Internship</li>
                                            </ul>
                                        </li>
                                        <li class="jobs_filters_function">
                                            <span data-select="jobs_filters_function" class="fakeselect">Function</span>
                                            <ul data-select="jobs_filters_function" class="fakeoptions" id="filter_job_function">
                                                <li data-function="Senior Designer"><span>Senior Designer</span></li>
                                                <li data-function="Front-End Developer"><span>Front-End Developer</span></li>
                                                <li data-function="Interactive Designer"><span>Interactive Designer, Operations</span></li>
                                                <li data-function="User Experience Designer"><span>User Experience Designer</span></li>
                                                <li data-function="Junior Designer"><span>Junior Designer</span></li>
                                            </ul>
                                        </li>
                                    </ul>
									<div class="all_head_sizer job_list_offers">
                                    	<div class="all_heads_cont"></div>
                                        <div class="clear"></div>
                                        
                                        <span class="jobs_view_all">
                                            <span>Show All</span>
                                            <span>Close</span>
                                        </span>
                                    </div>
								</div>
                                                
								<div class="col-sm-9 col-sm-pull-3 module_cont animate" data-anim-type="fadeInUp" data-anim-delay="300">                          
									<div class="all_body_sizer"><div class="all_body_cont"></div></div>
									<div class="shortcode_tab_item_title expand_no li_item job_show" data-type="Permanent" data-function="Senior Designer"><span class="badge">Perm</span>Senior Designer, London</div>
									<div class="shortcode_tab_item_body tab-content clearfix">
										<div class="ip">
											<div class="tab_content">
												<div class="table_info_title">
													<h3>Senior Designer</h3>
													<h5>London, United Kingdom</h5>
													<div class="cont">
														<p>Published on 15 February, 2015  /  London, United Kingdom</p>
													</div>
												</div>
												<p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
												<div class="module_content mb16">
													<ol>	
														<li>Donec et eleifend velit. Sed eget urna odio.</li> 
														<li>Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac. </li>
														<li>Sed vulputate lectus at enim aliquet suscipit. </li>
														<li>Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris.</li>
													</ol>
												</div>
												<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												<div class="row">
													<div class="col-sm-12 module_cont pb15 pt26 module_divider">
														<hr class="type5">                                        
													</div>                                         
												 </div>
												<div class="form-message-box">
													<h3 class="mb26">Apply Now</h3>
													<form action="javascript:void(0);" method="post" class="comment-form">
														<div class="row row20">
															<div class="col-sm-12"><input type="text" placeholder="Name*" value="" name="author"></div>
															<div class="col-sm-12"><input type="text" placeholder="Email*" value="" name="email"></div>
															<div class="col-sm-12"><input type="text" placeholder="Subject*" value="" name="url"></div>
														</div>                                        
														<textarea placeholder="Write Your Message Here..." name="comment" cols="45" rows="5"></textarea>
														<div class="with_reset">
															<div class="fleft"><input type="submit" name="submit" value="Send Application"></div>
															<div class="clear"></div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>		
									<div class="shortcode_tab_item_title expand_no li_item job_show" data-type="Permanent" data-function="Front-End Developer"><span class="badge">Perm</span>Front-End Developer, Paris</div>
									<div class="shortcode_tab_item_body tab-content clearfix">
										<div class="ip">
											<div class="tab_content">
												<div class="table_info_title">
													<h3>Front-End Developer</h3>
													<h5>Paris, France</h5>
													<div class="cont">
														<p>Published on 10 February, 2015  /  Paris, France</p>
													</div>
												</div>
												<p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
												<div class="module_content mb16">
													<ol>	
														<li>Donec et eleifend velit. Sed eget urna odio.</li> 
														<li>Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac. </li>
														<li>Sed vulputate lectus at enim aliquet suscipit. </li>
														<li>Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris.</li>
													</ol>
												</div>
												<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												<div class="row">
													<div class="col-sm-12 module_cont pb15 pt26 module_divider">
														<hr class="type5">                                        
													</div>                                         
												 </div>
												<div class="form-message-box">
													<h3 class="mb26">Apply Now</h3>
													<form action="javascript:void(0);" method="post" class="comment-form">
														<div class="row row20">
															<div class="col-sm-12"><input type="text" placeholder="Name*" value="" name="author"></div>
															<div class="col-sm-12"><input type="text" placeholder="Email*" value="" name="email"></div>
															<div class="col-sm-12"><input type="text" placeholder="Subject*" value="" name="url"></div>
														</div>                                        
														<textarea placeholder="Write Your Message Here..." name="comment" cols="45" rows="5"></textarea>
														<div class="with_reset">
															<div class="fleft"><input type="submit" name="submit" value="Send Application"></div>
															<div class="clear"></div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="shortcode_tab_item_title expand_no li_item job_show" data-type="Permanent" data-function="Interactive Designer"><span class="badge">Perm</span>Interactive Designer, Amsterdam</div>
									<div class="shortcode_tab_item_body tab-content clearfix">
										<div class="ip">
											<div class="tab_content">
												<div class="table_info_title">
													<h3>Interactive Designer</h3>
													<h5>Amsterdam, Netherlands</h5>
													<div class="cont">
														<p>Published on 28 January, 2015  /  Amsterdam, Netherlands</p>
													</div>
												</div>
												<p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
												<div class="module_content mb16">
													<ol>	
														<li>Donec et eleifend velit. Sed eget urna odio.</li> 
														<li>Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac. </li>
														<li>Sed vulputate lectus at enim aliquet suscipit. </li>
														<li>Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris.</li>
													</ol>
												</div>
												<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												<div class="row">
													<div class="col-sm-12 module_cont pb15 pt26 module_divider">
														<hr class="type5">                                        
													</div>                                         
												 </div>
												<div class="form-message-box">
													<h3 class="mb26">Apply Now</h3>
													<form action="javascript:void(0);" method="post" class="comment-form">
														<div class="row row20">
															<div class="col-sm-12"><input type="text" placeholder="Name*" value="" name="author"></div>
															<div class="col-sm-12"><input type="text" placeholder="Email*" value="" name="email"></div>
															<div class="col-sm-12"><input type="text" placeholder="Subject*" value="" name="url"></div>
														</div>                                        
														<textarea placeholder="Write Your Message Here..." name="comment" cols="45" rows="5"></textarea>
														<div class="with_reset">
															<div class="fleft"><input type="submit" name="submit" value="Send Application"></div>
															<div class="clear"></div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
                                    <div class="shortcode_tab_item_title expand_yes li_item job_show" data-type="Internship" data-function="User Experience Designer"><span class="badge">Intern</span>User Experience Designer, Austin</div>
									<div class="shortcode_tab_item_body tab-content clearfix">
										<div class="ip">
											<div class="tab_content">
												<div class="table_info_title">
													<h3>User Experience Designer</h3>
													<h5>Austin, USA</h5>
													<div class="cont">
														<p>Published on 22 January, 2015  /  Austin, USA </p>
													</div>
												</div>
												<p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
												<div class="module_content mb16">
													<ol>	
														<li>Donec et eleifend velit. Sed eget urna odio.</li> 
														<li>Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac. </li>
														<li>Sed vulputate lectus at enim aliquet suscipit. </li>
														<li>Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris.</li>
													</ol>
												</div>
												<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												<div class="row">
													<div class="col-sm-12 module_cont pb15 pt26 module_divider">
														<hr class="type5">                                        
													</div>                                         
												 </div>
												<div class="form-message-box">
													<h3 class="mb26">Apply Now</h3>
													<form action="javascript:void(0);" method="post" class="comment-form">
														<div class="row row20">
															<div class="col-sm-12"><input type="text" placeholder="Name*" value="" name="author"></div>
															<div class="col-sm-12"><input type="text" placeholder="Email*" value="" name="email"></div>
															<div class="col-sm-12"><input type="text" placeholder="Subject*" value="" name="url"></div>
														</div>                                        
														<textarea placeholder="Write Your Message Here..." name="comment" cols="45" rows="5"></textarea>
														<div class="with_reset">
															<div class="fleft"><input type="submit" name="submit" value="Send Application"></div>
															<div class="clear"></div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="shortcode_tab_item_title expand_no li_item" data-type="Internship" data-function="Junior Designer"><span class="badge">Intern</span>Junior Designer, Toronto</div>
									<div class="shortcode_tab_item_body tab-content clearfix">
										<div class="ip">
											<div class="tab_content">
												<div class="table_info_title">
													<h3>Junior Designer</h3>
													<h5>Toronto, Canada</h5>
													<div class="cont">
														<p>Published on 25 January, 2015  /  Toronto, Canada </p>
													</div>
												</div>
												<p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
												<div class="module_content mb16">
													<ol>	
														<li>Donec et eleifend velit. Sed eget urna odio.</li> 
														<li>Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac. </li>
														<li>Sed vulputate lectus at enim aliquet suscipit. </li>
														<li>Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris.</li>
													</ol>
												</div>
												<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
												<div class="row">
													<div class="col-sm-12 module_cont pb15 pt26 module_divider">
														<hr class="type5">                                        
													</div>                                         
												 </div>
												<div class="form-message-box">
													<h3 class="mb26">Apply Now</h3>
													<form action="javascript:void(0);" method="post" class="comment-form">
														<div class="row row20">
															<div class="col-sm-12"><input type="text" placeholder="Name*" value="" name="author"></div>
															<div class="col-sm-12"><input type="text" placeholder="Email*" value="" name="email"></div>
															<div class="col-sm-12"><input type="text" placeholder="Subject*" value="" name="url"></div>
														</div>                                        
														<textarea placeholder="Write Your Message Here..." name="comment" cols="45" rows="5"></textarea>
														<div class="with_reset">
															<div class="fleft"><input type="submit" name="submit" value="Send Application"></div>
															<div class="clear"></div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="clear"></div>
                                </div>
							</div>
                                                                 
                            <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://wordpress.com/" target="_blank"><img src="img/imgs/wp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.envato.com/" target="_blank"><img src="img/imgs/envato.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="350">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://mailchimp.com/" target="_blank"><img src="img/imgs/mailchimp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="400">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.pixeden.com/" target="_blank"><img src="img/imgs/pixeden.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="450">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://themeforest.net/" target="_blank"><img src="img/imgs/themeforest.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="500">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.gt3themes.com/" target="_blank"><img src="img/imgs/gt3themes.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>                              
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
	{% include 'y_footer.html' %}
    
    <div class="fixed-menu"></div>
    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/modules.js"></script>
	<script type="text/javascript" src="/static/js/theme.js"></script>
	<script type="text/javascript" src="/static/js/color_panel.js"></script>
</body>
</html>