<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple_icons_114x114.png">
<title>{% block title %}Groutek | Premium Html Template{% endblock %}</title>
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="all" />
</head>
<body>
    {% include 'y_main_header.html' %}

    <div class="wrapper">
    	<div class="container">
        	<div class="page_title_block">
                <div class="bg_title">
                    <h1>Welcome to Blog</h1>
                </div>
                <div class="page_descr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
                </div>
            </div>
        	<div class="content_block row no-sidebar">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">
                        	
                            <div class="row">
                                <div class="col-sm-12 module_cont pb60 module_blog">
                                    <div class="blog_post_preview animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                    	<div class="blog_post_image">
                                        	<a href="post_fullwidth.html"><img src="/static/img/blog/post/1.jpg" alt="" /></a>
                                        </div>
                                        <div class="blog_content">
                                        	<h2 class="blogpost_title"><a href="post_fullwidth.html">Standard Post with Image</a></h2>
                                            <div class="listing_meta">
                                                <span>Dec 11, 2020</span>
                                                <span>by <a href="javascript:void(0);">Admin</a></span>
                                                <span><a href="javascript:void(0);">3 comments</a></span>                                                									
                                                <span>Tags: <a href="javascript:void(0);">business</a>, <a href="javascript:void(0);">people</a></span>
                                            </div>                                                                                        
                                            <p>Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo. Vestibulum consectetur euismod malesuada tincidunt cum. Sed ullamcorper dignissim consectetur ut tincidunt eros sed sapien consectetur dictum. Pellentesques sed volutpat ante, cursus port. Praesent mi magna, penatibus et magniseget dis parturient montes sed quia consequuntur magni dolores eos qui ratione. <a href="post_fullwidth.html" class="read_more">Details</a></p>
                                        </div>
                                    </div>
                                                                       
                                    <div class="blog_post_preview animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                    	<div class="pf_output_container blog_post_image">
                                            <div class="slider-wrapper theme-default">
                                                <div class="nivoSlider">                                                            
                                                    <img src="/static/img/blog/post/2.jpg" alt="" />
                                                    <img src="/static/img/blog/post/3.jpg" alt="" />
                                                    <img src="/static/img/blog/post/4.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog_content">
                                        	<h2 class="blogpost_title"><a href="post_fullwidth.html">Standard Post with Slider</a></h2>
                                            <div class="listing_meta">
                                                <span>Dec 11, 2020</span>
                                                <span>by <a href="javascript:void(0);">Admin</a></span>
                                                <span><a href="javascript:void(0);">3 comments</a></span>                                                									
                                                <span>Tags: <a href="javascript:void(0);">business</a>, <a href="javascript:void(0);">people</a></span>
                                            </div>                                                                                        
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. <a href="post_fullwidth.html" class="read_more">Details</a></p>                               
                                        </div>
                                    </div>
                                                                     
                                    <div class="blog_post_preview animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                    	<div class="blog_content">
                                        	<h2 class="blogpost_title"><a href="post_fullwidth.html">Standard Post without Image</a></h2>
                                            <div class="listing_meta">
                                                <span>Dec 11, 2020</span>
                                                <span>by <a href="javascript:void(0);">Admin</a></span>
                                                <span><a href="javascript:void(0);">3 comments</a></span>                                                									
                                                <span>Tags: <a href="javascript:void(0);">business</a>, <a href="javascript:void(0);">people</a></span>
                                            </div>                                                                                        
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus.  <a href="post_fullwidth.html" class="read_more">Details</a></p>                                    
                                        </div>
                                    </div>
                                                                        
                                    <div class="blog_post_preview animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                    	<div class="pf_output_container blog_post_image">
                                            <iframe src="https://player.vimeo.com/video/15801179" height="550" allowfullscreen></iframe>
                                        </div>
                                        <div class="blog_content">
                                        	<h2 class="blogpost_title"><a href="post_fullwidth.html">Standard Post with Video</a></h2>
                                            <div class="listing_meta">
                                                <span>Dec 11, 2020</span>
                                                <span>by <a href="javascript:void(0);">Admin</a></span>
                                                <span><a href="javascript:void(0);">3 comments</a></span>                                                									
                                                <span>Tags: <a href="javascript:void(0);">business</a>, <a href="javascript:void(0);">people</a></span>
                                            </div>                                                                                        
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.   <a href="post_fullwidth.html" class="read_more">Details</a></p>                                    
                                        </div>
                                    </div>
                                    
                                    <div class="blog_post_preview animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                    	<div class="blog_content">
                                        	<div class="listing_meta">
                                                <span>Dec 11, 2020</span>
                                                <span>by <a href="javascript:void(0);">Admin</a></span>
                                                <span><a href="javascript:void(0);">3 comments</a></span>                                                									
                                                <span>Tags: <a href="javascript:void(0);">business</a>, <a href="javascript:void(0);">people</a></span>
                                            </div>                                                                                        
                                            <blockquote>
                                                <p>Provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga einem like temporalis eos qui ratione. 
Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis. At vero eos et samus et iusto odio qui blanditiis praesentium voluptatum deleniti atque corrupti quos jfont dolores et autem quibusdam et aut officis perferendis doloribus eos qui ratione voluptatem.</p>
                                                <div class="author">Robin Hardy, Developer</div>
                                            </blockquote>                                   
                                        </div>
                                    </div>
                                       
                                    <ul class="pagerblock pb10 animate" data-anim-type="fadeIn" data-anim-delay="300">
                                        <li><a class="prev-page" href="javascript:void(0);"><i class="icon-angle-left"></i></a></li>
                                        <li><a href="javascript:void(0);">1</a></li>
                                        <li><a class="current" href="javascript:void(0);">2</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="javascript:void(0);">10</a></li>
                                        <li><a class="next-page" href="javascript:void(0);"><i class="icon-angle-right"></i></a></li>
                                    </ul>                             
                                </div>        
                            </div>                                                                                                               
                            
                            <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://wordpress.com/" target="_blank"><img src="/static/img/imgs/wp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.envato.com/" target="_blank"><img src="/static/img/imgs/envato.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="350">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://mailchimp.com/" target="_blank"><img src="/static/img/imgs/mailchimp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="400">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.pixeden.com/" target="_blank"><img src="/static/img/imgs/pixeden.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="450">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://themeforest.net/" target="_blank"><img src="/static/img/imgs/themeforest.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="500">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.gt3themes.com/" target="_blank"><img src="/static/img/imgs/gt3themes.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                             
                        </div>
                    </div>
                </div>
                                
            </div>
        </div> 
    </div>

    {% include 'y_footer.html' %}
    
    <div class="fixed-menu"></div>
    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/modules.js"></script>
	<script type="text/javascript" src="/static/js/theme.js"></script>
	<script type="text/javascript" src="/static/js/color_panel.js"></script>
</body>
</html>