<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple_icons_114x114.png">
<title>{% block title %}
招聘广场
{% endblock %}</title>
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/custom.css" type="text/css" media="all" />
</head>
<body>
    {% include 'y_main_header.html' %}

    <div class="breadcrumbs">
    	<div class="container">
        	<a href="index.html">Home</a><span>/</span><a href="javascript:void(0);">Pages</a><span>/</span>Service
            <h1 class="title-page">The Best We Can Offer</h1>
        </div>
    </div>
    
    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row no-sidebar">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">
                        	<div class="row">
                             	<div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="250" data-anim-type="fadeInDown">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">			
                                            <div class="iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon12.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon12.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Design & Development</h5>
                                                </div>
                                                <div class="iconbox_body">						
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusanti.  Nemo enim ipsam voluptatem quia.</p>
                                                </div>					
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="150" data-anim-type="fadeInLeft">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">			
                                            <div class="iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon13.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon13.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Photography</h5>
                                                </div>
                                                <div class="iconbox_body">						
                                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia. </p>
                                                </div>					
                                            </div>
                                        </a>
                                    </div>
                                </div> 
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="200" data-anim-type="fadeInUp">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">			
                                            <div class="iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon14.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon14.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Motion Graphics</h5>
                                                </div>
                                                <div class="iconbox_body">						
                                                    <p>Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                                                </div>					
                                            </div>
                                        </a>
                                    </div>
                                </div> 
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="150" data-anim-type="fadeInRight">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">			
                                            <div class="iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon15.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon15.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Brand Identity</h5>
                                                </div>
                                                <div class="iconbox_body">						
                                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.</p>
                                                </div>					
                                            </div>
                                        </a>
                                    </div>
                                </div>               	
                             </div>
                             
                            <div class="row">
                             	<div class="col-sm-12 module_cont pb0">
                                	<div class="bg_title">
                                    	<h2>Our Core Features</h2>
                                    </div>                                  
                                </div>
                             </div>
                             
                             <div class="row">
								<div class="col-sm-6 module_cont pb30">
                                    <div class="module_content shortcode_iconbox type4 animate" data-anim-delay="200" data-anim-type="fadeInLeft">
                                        <a href="javascript:void(0);">			
                                            <div class="iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon8.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon8.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Clean Code</h5>
                                                </div>
                                                <div class="iconbox_body">						
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                                </div>					
                                            </div>
                                        </a>
                                    </div>
                                    <div class="module_content shortcode_iconbox type4 animate" data-anim-delay="250" data-anim-type="fadeInLeft">
                                        <a href="javascript:void(0);">			
                                            <div class="iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon9.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon9.png" class="icon_retina" width="80" height="56" alt="" /></div>
                                                    <h5 class="iconbox_title">Fully Responsive</h5>
                                                </div>
                                                <div class="iconbox_body">						
                                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit.</p>
                                                </div>					
                                            </div>
                                        </a>
                                    </div>
                                    <div class="module_content shortcode_iconbox type4 animate" data-anim-delay="300" data-anim-type="fadeInLeft">
                                        <a href="javascript:void(0);">			
                                            <div class="iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon16.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon16.png" class="icon_retina" width="80" height="56" alt="" /></div>
                                                    <h5 class="iconbox_title">Extended Documentation</h5>
                                                </div>
                                                <div class="iconbox_body">						
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                                </div>					
                                            </div>
                                        </a>
                                    </div>
                                </div> 
                                <div class="col-sm-6 module_cont pb30 animate" data-anim-delay="250" data-anim-type="fadeIn">
                                	<div class="mr_20 ml20">
                                		<img src="img/imgs/service1.png" alt="" />
                                    </div>
                                </div>        	
                             </div>  
                                
                            <div class="fw_block bg_start pt74 pb50 grey_bg mb60">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb0">
                                        <div class="bg_title">
                                            <h2 class="fleft">Latest Works</h2>
                                            <!-- Filter_block -->
                                            <div class="filter_block">
                                                <div class="filter_navigation">
                                                    <ul id="options" class="splitter">
                                                        <li>
                                                            <ul data-option-key="filter" class="optionset">
                                                                <li class="selected"><a data-option-value="*" data-catname="all" href="#filter">All Works</a></li>
                                                                <li><a data-option-value=".branding" data-catname="branding" href="#filter">Branding</a></li>
                                                                <li><a data-option-value=".polygraphy" data-catname="polygraphy" href="#filter">Polygraphy</a></li>
                                                                <li><a data-option-value=".textstyle" data-catname="textstyle" href="#filter">Text Style</a></li>
                                                                <li><a data-option-value=".webui" data-catname="webui" href="#filter">Web UI</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- //Filter_block -->
                                            <div class="clear"></div>
                                        </div>                                   
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="sorting_block image-grid featured_items photo_gallery" id="list">
                                        <div class="col-sm-4 branding element">                    
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/1.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Business Card</h5>
                                                            </div>
                                                            <div class="featured_meta">Print Design</div> 
                                                            <a href="img/portfolio/370_300/1.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>                                                                                                            
                                                </div>
                                            </div>                                  
                                        </div>
                                        <div class="col-sm-4 polygraphy element">                    
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/2.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Iste natus</h5>
                                                            </div>
                                                            <div class="featured_meta">Advertisement</div> 
                                                            <a href="img/portfolio/370_300/2.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>                                                                
                                                    </div>                                                                                                              
                                                </div>
                                            </div>                                  
                                        </div>
                                        <div class="col-sm-4 textstyle element">                    
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/3.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Quis autem</h5>
                                                            </div>
                                                            <div class="featured_meta">Business</div> 
                                                            <a href="img/portfolio/370_300/3.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>                                                            
                                                    </div>                                                                                                              
                                                </div>
                                            </div>                                  
                                        </div>
                                        <div class="col-sm-4 webui element">                    
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/4.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Praesent Libero</h5>
                                                            </div>
                                                            <div class="featured_meta">Print Design</div> 
                                                            <a href="img/portfolio/370_300/4.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>                                                                                                            
                                                </div>
                                            </div>                                 
                                        </div>
                                        <div class="col-sm-4 branding element">                    
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/5.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Sed Cursus Ante</h5>
                                                            </div>
                                                            <div class="featured_meta">Business</div> 
                                                            <a href="img/portfolio/370_300/5.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>                                                                                                            
                                                </div>
                                            </div>                                  
                                        </div>
                                        <div class="col-sm-4 polygraphy element">   
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/6.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Nulla Quis Sem</h5>
                                                            </div>
                                                            <div class="featured_meta">People</div> 
                                                            <a href="img/portfolio/370_300/6.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>                                                                                                            
                                                </div>
                                            </div>                                  
                                        </div>
                                        <div class="col-sm-4 textstyle element">                    
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/7.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Duis Sagittis Ipsum</h5>
                                                            </div>
                                                            <div class="featured_meta">Business</div> 
                                                            <a href="img/portfolio/370_300/7.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>                                                                                                            
                                                </div>
                                            </div>                                   
                                        </div>
                                        <div class="col-sm-4 webui element">                    
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/8.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Curabitur Tortor</h5>
                                                            </div>
                                                            <div class="featured_meta">People</div> 
                                                            <a href="img/portfolio/370_300/8.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>                                                                                                            
                                                </div>
                                            </div>                                  
                                        </div>
                                        <div class="col-sm-4 branding element">                    
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">                                  
                                                    <div class="img_block wrapped_img">
                                                        <img src="img/portfolio/370_300/9.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Class Aptent Taciti</h5>
                                                            </div>
                                                            <div class="featured_meta">Print Design</div> 
                                                            <a href="img/portfolio/370_300/9.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="portfolio_post_fullwidth.html"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>                                                                                                            
                                                </div>
                                            </div>                                  
                                        </div>                                                                                                                           
                                    </div>
                                    <div class="clear"></div>
                                    <div class="text-center animate" data-anim-delay="250" data-anim-type="fadeInUp"><a href="javascript:void(0);" class="load_more_works shortcode_button btn_normal btn_type5">Load More</a></div>
                                </div>                             
                            </div>
                            
                            <div class="row">
                             	<div class="col-sm-12 module_cont pb0">
                                	<div class="bg_title">
                                    	<h2>Simple Pricing</h2>
                                    </div>                               
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-12 module_cont pb80 module_price_table items3">
                                    <div class="price_table_wrapper">
                                        <div class="price_item">                                        
                                            <div class="price_item_wrapper animate" data-anim-delay="300" data-anim-type="fadeInLeft">
                                            	<div class="price_item_wrap">                                                                                            
                                                    <div class="price_item_title">
                                                    	<h5>Designer Lisense</h5>
                                                        <h6>2 Clients&amp;Basic Formats</h6>
                                                    </div>
                                                    <div class="item_cost_wrapper">
                                                        <div class="price_item_cost">
                                                            <h1>49<span>$</span></h1>
                                                        </div>                                                        
                                                    </div>                                                     
                                                    <div class="price_item_body">                                                        
                                                        <div class="price_item_text">Lorem ipsum dolor sit amet</div>
                                                        <div class="price_item_text">Consectetur et adipiscing elit</div>
                                                        <div class="price_item_text">Sed eiusmod tempor incididunt</div>
                                                        <div class="price_item_text">Excepteur occaecat cupidatat</div>
                                                        <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="javascript:void(0);">Choose Plan</a></div>
                                                    </div>                                         
                                            	</div>   			
                                            </div>
                                        </div>
                                        <div class="price_item most_popular animate" data-anim-delay="500" data-anim-type="fadeIn">                                      
                                            <div class="price_item_wrapper">
                                            	<div class="price_item_wrap">                                                                                            
                                                    <div class="price_item_title">
                                                    	<h5>Designer Lisense</h5>
                                                        <h6>5 Clients&amp;Essential Formats</h6>
                                                  </div>
                                                    <div class="item_cost_wrapper">
                                                        <div class="price_item_cost">
                                                            <h1>69<span>$</span></h1>
                                                        </div>                                                        
                                                    </div>                                                     
                                                    <div class="price_item_body">                                                        
                                                        <div class="price_item_text">Sed ut perspiciatis unde omnis</div>
                                                        <div class="price_item_text">Nemo enim ipsam voluptatem quia</div>
                                                        <div class="price_item_text">Reprehenderit qui in ea voluptate</div>
                                                        <div class="price_item_text">Et harum quidem rerum facilis</div>
                                                        <div class="price_item_btn"><a class="shortcode_button btn_large btn_type5" href="javascript:void(0);">Choose Plan</a></div>
                                                    </div>                                       
                                           	  </div>   			
                                            </div>
                                        </div>
                                        <div class="price_item animate" data-anim-delay="300" data-anim-type="fadeInRight">
                                            <div class="price_item_wrapper">
                                            	<div class="price_item_wrap">                                                                                            
                                                    <div class="price_item_title">
                                                    	<h5>Agency Lisense</h5>
                                                        <h6>Unlimited Clients&amp;All Formats!</h6>
                                                    </div>
                                                    <div class="item_cost_wrapper">
                                                        <div class="price_item_cost">
                                                            <h1>99<span>$</span></h1>
                                                        </div>                                                        
                                                    </div>                                                     
                                                    <div class="price_item_body">                                                        
                                                        <div class="price_item_text">Alias consequatur ut perferendis</div>
                                                        <div class="price_item_text">Quod maxime placeat possimus</div>
                                                        <div class="price_item_text">Sed eiusmod tempor incididunt</div>
                                                        <div class="price_item_text">Excepteur occaecat cupidatat</div>
                                                        <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="javascript:void(0);">Choose Plan</a></div>
                                                    </div>                                        
                                            	</div>   			
                                            </div>
                                        </div>                                                                               
                                    </div>
                                </div>                                    
                             </div>
     
                            <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://wordpress.com/" target="_blank"><img src="img/imgs/wp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.envato.com/" target="_blank"><img src="img/imgs/envato.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="350">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://mailchimp.com/" target="_blank"><img src="img/imgs/mailchimp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="400">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.pixeden.com/" target="_blank"><img src="img/imgs/pixeden.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="450">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://themeforest.net/" target="_blank"><img src="img/imgs/themeforest.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="500">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.gt3themes.com/" target="_blank"><img src="img/imgs/gt3themes.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    {% include 'y_footer.html' %}
    

	<div class="fixed-menu"></div>
    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/modules.js"></script>
	<script type="text/javascript" src="/static/js/theme.js"></script>
    <script type="text/javascript" src="/static/js/color_panel.js"></script>
	
    <!-- Portfolio -->
    <script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/js/sorting.js"></script>
    <script>	
		items_set = [                    
			{src : '/static/img/portfolio/370_300/10.jpg', zoom : 'img/portfolio/370_300/10.jpg', url : 'portfolio_post_fullwidth.html', columnclass: 'col-sm-4', sortcategory: 'webui', title: 'Unde Sed ut', itemcategory: 'Print Design'},
			{src : '/static/img/portfolio/370_300/11.jpg', zoom : 'img/portfolio/370_300/11.jpg', url : 'portfolio_post_fullwidth.html', columnclass: 'col-sm-4', sortcategory: 'polygraphy', title: 'Tempore Nam Libero', itemcategory: 'Business'},
			{src : '/static/img/portfolio/370_300/12.jpg', zoom : 'img/portfolio/370_300/12.jpg', url : 'portfolio_post_fullwidth.html', columnclass: 'col-sm-4', sortcategory: 'textstyle', title: 'Dolores Magni', itemcategory: 'People'}
		];
		jQuery('#list').portfolio_addon({
			type : 2, // 2-4 columns portfolio
			load_count : 3,
			items : items_set
		});
	</script> 
</body>
</html>